<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<targets async="true">
		<target xsi:type="File" name="ProgrammingGameLogFile" fileName="${basedir}/logs/Server_Log_${shortdate}.log" layout="[${longdate}] [${level}] [${callsite}] [${message}] ${onexception:[EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=type,message,method}]}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="ProgrammingGameLogFile" />
	</rules>
</nlog>